<html>

<head>
    <title>AES Encryption and Decryption Example</title>
    <style>
        .enc,
        textarea {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        button {
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #5739ce;
            background-image: linear-gradient(#6f55d5, #5739ce);
            color: #fff;
            font-size: 14px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
        }

        button:hover {
            background-color: #6f55d5;
            background-image: none;
        }

        button:active {
            background-color: #5739ce;
            background-image: none;
            box-shadow: none;
        }

        .error {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }
    </style>
</head>

<body>

<h1> About Encryption </h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum mauris vitae quam ultricies, vel dignissim turpis euismod. Suspendisse eget odio tristique, vulputate dui sed, vestibulum mi. Vivamus imperdiet ante in nisi placerat tincidunt. Duis euismod turpis quis eros pulvinar, vel tempor nisl malesuada. Fusce varius orci id diam congue, non volutpat ipsum finibus. Nulla eget orci semper, venenatis nisl et, ornare risus. Ut vel purus vel elit tincidunt fermentum a sed nibh.

Sed laoreet libero vel lorem efficitur, et vehicula magna vehicula. Sed quis sem eget quam dapibus ullamcorper. Vestibulum luctus eros sed massa euismod scelerisque. Nunc sodales volutpat leo, non tristique dolor cursus id. Sed vitae augue ex. Maecenas convallis leo in justo eleifend, ut faucibus quam vulputate. Quisque maximus, nulla eget vestibulum ultricies, odio mauris auctor sapien, ut dictum libero augue vel massa.

Proin tristique, ex id semper vulputate, dui mi convallis est, eu bibendum ipsum tellus at nisl. Nulla facilisi. Nam rhoncus euismod lacus, eget sollicitudin turpis lacinia at. In at commodo purus. Suspendisse potenti. Nulla facilisi. Aenean imperdiet, elit sed efficitur rutrum, urna dolor vehicula quam, ut lobortis nisl massa vel metus.
    </p>

    <div id="encryption-section" class="section">
        <h2>Encryption</h2>
        <br>
        <label for="messageToEncrypt">Value to encrypt:</label>
        <input class="enc" type="text" id="messageToEncrypt">

        <label for="encryptorKey">Encryption key:</label>
        <input id="encryptorKey" type="text" class="enc">

        <p id="error-message" class="error"></p>

        <button type="button" onclick="encrypt()">Encrypt</button>

        <h3>Encrypted value:</h3>
        <textarea class="outputresult" id="encryptedMessage" rows="5"></textarea>
    </div>

    <hr>

    <div id="decryption-section" class="section">
        <h2>Decryption</h2>
        <br>
        <label for="encryptedMessageToDecrypt">Encrypted value:</label>
        <textarea id="encryptedMessageToDecrypt" rows="5"></textarea>

        <label for="decryptorKey">Decryption key:</label>
        <input id="decryptorKey" type="text" class="enc">

        <button type="button" onclick="decrypt()">Decrypt</button>

        <h3>Decrypted value:</h3>
        <textarea class="outputresult" id="decryptedMessage" rows="5"></textarea>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script>
        function encryptWithAes256(messageToEncrypt, encryptorKey) {
            var salt = CryptoJS.lib.WordArray.random(128 / 8);
            var key = CryptoJS.PBKDF2(
                encryptorKey,
                salt,
                { keySize: 256 / 32, iterations: 1000, hasher: CryptoJS.algo.SHA512 }
            );
            var iv = CryptoJS.lib.WordArray.random(128 / 8);
            var cipherText = CryptoJS.AES.encrypt(messageToEncrypt, key, { iv: iv });
            var encryptedData = salt.clone().concat(iv).concat(cipherText.ciphertext);
            var encryptedDataB64 = "ENC(" + encryptedData.toString(CryptoJS.enc.Base64) + ")";
            return encryptedDataB64;
        }

        function decryptWithAes256(encryptedMessage, decryptorKey) {
            encryptedMessage = encryptedMessage.replace("ENC(", "");
            encryptedMessage = encryptedMessage.replace(")", "");
            var encryptedData = CryptoJS.enc.Base64.parse(encryptedMessage);
            var salt = encryptedData.clone().words.slice(0, 4);
            var iv = encryptedData.clone().words.slice(4, 8);
            var cipherText = encryptedData.clone().words.slice(8);
            var key = CryptoJS.PBKDF2(
                decryptorKey,
                CryptoJS.lib.WordArray.create(salt),
                { keySize: 256 / 32, iterations: 1000, hasher: CryptoJS.algo.SHA512 }
            );
            var decryptedData = CryptoJS.AES.decrypt(
                { ciphertext: CryptoJS.lib.WordArray.create(cipherText) },
                key,
                { iv: CryptoJS.lib.WordArray.create(iv) }
            );
            var decryptedText = decryptedData.toString(CryptoJS.enc.Utf8);
            return decryptedText;
        }


        function encrypt() {
            var messageToEncrypt = document.getElementById('messageToEncrypt').value;
            var encryptorKey = document.getElementById('encryptorKey').value;

            if (!messageToEncrypt || !encryptorKey) {
                document.getElementById('error-message').textContent = 'Please fill in both text and key fields.';
                return;
            }
            var encryptedMessage = encryptWithAes256(messageToEncrypt, encryptorKey);
            document.getElementById('encryptedMessage').value = encryptedMessage;
        }

        function decrypt() {
            var encryptedMessageToDecrypt = document.getElementById('encryptedMessageToDecrypt').value;
            var decryptorKey = document.getElementById('decryptorKey').value;

            var decryptedMessage = decryptWithAes256(encryptedMessageToDecrypt, decryptorKey);
            document.getElementById('decryptedMessage').value = decryptedMessage;
        }

        function autoCopyTextarea() {
            const textarea = document.getElementById('encryptedMessage');

            textarea.addEventListener('click', () => {
                textarea.select();
                document.execCommand('copy');
            });
        }

        autoCopyTextarea();
    </script>

</body>

</html>